.page--create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;

  .form--create {
    width: 50%;
    min-width: 500px;

    margin-top: 95px;
    padding: 20px;

    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(206, 206, 206, 0.932);

    .form__part--dropdown {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 24px;

      div {
        .q-btn {
          width: 250px;
          max-width: 100%;
          &__content {
            justify-content: space-between !important;
          }
        }
      }
    }

    .time__container {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
    }
    .append__container {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;

      margin-top: 10px;
      margin-bottom: 24px;
      padding-block: 4px;

      border: 1px dashed #5a5a5a;
      border-spacing: 50px;

      .q-btn {
        font-size: 12px !important;
        color: #333333 !important;
        border: none !important;
        background-color: #ffb74d !important;
      }
    }

    .tags__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      column-gap: 10px;
      row-gap: 10px;
    }
    ul,
    ol {
      list-style-position: inside;
    }
    .ul--form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10px;

      width: 100%;

      padding: 0;

      border-radius: 5px;
    }

    .li--form {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      padding: 10px 15px;

      font-size: 18px;
      border-radius: 5px;
      border: 1px solid #5a5a5a;

      .q-field {
        width: 100%;
        height: auto;

        margin-right: 20px;
      }

      .interactions {
        display: flex;
        align-items: center;
        column-gap: 16px;
      }
    }

    .btn__container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 24px;

      width: 100%;

      .q-btn {
        padding: 8px 48px;
        font-size: 16px !important;
      }
      .q-btn:nth-child(2) {
        color: #333333 !important;
        background-color: #ffb74d !important;
      }
    }
  }
}
