.login {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: transparent;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    width: 100%;
    height: 100%;
    padding: 25px;
    background-size: contain;
    background-repeat: repeat;

    &--form {
      width: 100%;
      max-width: 400px;
      height: 100%;
      padding-inline: 40px;
    }

    &--carousel {
      width: 100%;
      max-width: 750px;
      height: 100%;
    }
  }

  // Gradient Background
  &.gr-bg {
    position: relative;
    height: 100dvh;
    background-color: #fef8a9;
    background-image: radial-gradient(
        at 26% 60%,
        hsla(25, 91%, 59%, 1) 0,
        hsla(25, 91%, 59%, 0) 50%
      ),
      radial-gradient(
        at 49% 25%,
        hsla(262, 88%, 65%, 1) 0,
        hsla(262, 88%, 65%, 0) 50%
      ),
      radial-gradient(
        at 43% 17%,
        hsla(342, 87%, 66%, 1) 0,
        hsla(342, 87%, 66%, 0) 50%
      ),
      radial-gradient(
        at 31% 26%,
        hsla(345, 94%, 70%, 1) 0,
        hsla(345, 94%, 70%, 0) 50%
      ),
      radial-gradient(
        at 81% 55%,
        hsla(297, 88%, 68%, 1) 0,
        hsla(297, 88%, 68%, 0) 50%
      ),
      radial-gradient(
        at 70% 95%,
        hsla(197, 86%, 59%, 1) 0,
        hsla(197, 86%, 59%, 0) 50%
      ),
      radial-gradient(
        at 91% 14%,
        hsla(12, 91%, 59%, 1) 0,
        hsla(12, 91%, 59%, 0) 50%
      );
    z-index: 1;
  }
}
