.page--recent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;

  min-height: 100vh;
  min-width: 100%;

  .container--recent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;

    width: 55%;

    padding: 30px;
    margin-top: 95px;

    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(206, 206, 206, 0.932);

    .card__container--recent {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 50px;

      width: 100%;

      .card__loop {
        width: 100%;

        .wide__container {
          width: 100%;

          padding: 20px;

          border: 1px solid #e0e0e0;
          border-radius: 5px;

          .recipe__info {
            outline: 1px solid red;
            div {
              .recent__tags {
                div {
                  .q-chip {
                    background: #f5a623 !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.user__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;
}
.user__container--info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__container--text > p {
  margin: 0;
  padding: 0;
}
