.page--search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;

  min-width: 100%;
  min-height: 100dvh;
}

.container--search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  width: 60%;

  padding-top: 120px;
  padding-bottom: 100px;
  padding-inline: 40px;

  background-color: #f5f5f5;
  box-shadow: 0px 0px 20px 0px rgba(206, 206, 206, 0.932);
}

.search__container--text {
  align-self: flex-start;
}

.result__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;

  height: 100%;

  padding-top: 20px;
}

.results--error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  margin-top: 100px;

  text-align: center;

  & > p {
    color: rgb(138, 138, 138) !important;
  }
}

.card__container--search {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  gap: 24px 15px;

  width: 800px;
}

.card--search {
  position: relative;

  width: 250px;

  aspect-ratio: 6/7;
  overflow: clip;
  border-radius: 20px;

  & > * {
    position: relative;

    z-index: 1;
  }
  & > .card--container__info > h2,
  h3,
  p {
    color: #f5f5f5 !important;
  }

  & > .card--container__info > p {
    display: -webkit-box;

    height: 105px;

    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5;

    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.card--container__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  height: 101%;

  padding: 10px;

  transition: transform 0.3s ease-in-out;
  transform: translate(0, 170px);
  background: linear-gradient(
    0deg,
    rgb(18.431% 18.431% 18.431%) 0%,
    rgb(18.431% 18.431% 18.431% / 0.9999847412109375) 6.25%,
    rgb(18.427% 18.427% 18.427% / 0.999755859375) 12.5%,
    rgb(18.409% 18.409% 18.409% / 0.9987640380859375) 18.75%,
    rgb(18.359% 18.359% 18.359% / 0.99609375) 25%,
    rgb(18.256% 18.256% 18.256% / 0.9904632568359375) 31.25%,
    rgb(18.067% 18.067% 18.067% / 0.980224609375) 37.5%,
    rgb(17.756% 17.756% 17.756% / 0.9633636474609375) 43.75%,
    rgb(17.279% 17.279% 17.279% / 0.9375) 50%,
    rgb(16.586% 16.586% 16.586% / 0.8998870849609375) 56.25%,
    rgb(15.619% 15.619% 15.619% / 0.847412109375) 62.5%,
    rgb(14.314% 14.314% 14.314% / 0.7765960693359375) 68.75%,
    rgb(12.6% 12.6% 12.6% / 0.68359375) 75%,
    rgb(10.399% 10.399% 10.399% / 0.5641937255859375) 81.25%,
    rgb(7.627% 7.627% 7.627% / 0.413818359375) 87.5%,
    rgb(4.194% 4.194% 4.194% / 0.2275238037109375) 93.75%,
    rgb(0% 0% 0% / 0) 100%
  );
}

.card--search:hover > .card--container__info {
  transform: translate(0, 0);
  transition: transform 0.3s ease-out;
}

.card__image--search {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 0;
  aspect-ratio: 5/7;
  border-radius: 20px;
  transition: all 300ms ease-in-out;
}

.btn--search {
  align-self: center;

  margin-top: 5px;
  padding: 5px 16px;

  font-size: 0.8rem;
  color: #f5f5f5;
  background-color: transparent;

  border: 1px solid #f5f5f5;
  border-radius: 20px;
  outline: none;

  cursor: pointer;
  transition: all 350ms ease-in-out;
}

.card--search:hover > .card__image--search {
  transform: scale(1.2);
  transition: all 350ms ease-in-out;
}

.btn--search:hover {
  color: black;
  background-color: #f5f5f5;

  border-color: transparent;
  transition: all 350ms ease-in-out;
}
