.bg-primary {
  background: $primary !important;
}

.bg-secondary {
  background: $secondary !important;
}

.bg-accent-0 {
  background: $accent-0 !important;
}

.bg-accent-1 {
  background: $accent-0 !important;
}

.bg-accent-2 {
  background: $accent-0 !important;
}
